.s-u-logo{
    cursor: pointer
}
.signup-container{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.img-ins{
    display: none;
}

.form-div nav{
    text-align: center;
    display: block;
    margin: 2em auto;
}
.form-div nav img{
    margin: 1em;
}
.form-div nav p{
    color:  #323335;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.inp-div, .sm-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1.5px solid rgba(50, 51, 53, 0.30);
    margin-bottom: 1.5em;
    position: relative;
    align-content: center;
    color: rgba(50, 51, 53, 0.50);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.form-outline{
    display: block;
    margin-inline: 2em;
}
.form-outline input[type="text"],
.form-outline input[type="email"],
.form-outline input[type="password"]{
    height: inherit;
    outline: 0;
    border: 0;
    margin: 1.5em 0;
    border-radius: 0;
    padding-left: 0.5em;
}
.form-outline select{
    width: 80%;
    height: 3.75rem;
    margin-bottom: 1.5em;
    border: 1.5px solid rgba(50, 51, 53, 0.30);
}

.form-outline label{
    position: absolute;
    top: 1em;
    left: 0.5em;
}
.form-outline input:focus+label,
.inpt+label{
    top: -1em;
    background: #fff;
    color: cornflowerblue;
}
.bool-q{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;
    color: #323335;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
}
.bool-q div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}
.und{
    text-decoration: underline;
}
.yel-bd, 
.wh-bd{
    margin: 1em;
    padding: 1em;
    width: 4rem;
    height: 3.125rem;
    color: #323335;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.yel-bd{
    border: 2px solid var(--Primary-Colour, #FCC01C);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.agreemnt{
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.alr{
    margin: 1em auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
}
.alr a,
.alr a:visited{
    color: #fcc01c;
}
.spbx-f{
    display: block;
    text-align: center;
    margin: 2em auto
    }
.spbx-f svg{
    font-size: 1.56rem;
    font-weight: 800;
    color: #fcc01c;
}
.sl{
    background: #fcc01c;
}
.s-u-btn{
    background: #fcc01c;
    border: 0;
    border-radius: 5px;
    width: 30.875rem;
    height: 3.75rem;
    color: #fff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.btn-sub-for{
    text-align: center;
}
@media screen and (min-width: 768px){
    .img-ins{
    display: block;
    position: relative;
}
.sign-inst{
    position: absolute;
    background: rgba(255,255,255,0.8);
    border-radius: 0.625rem;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.10);
    top: 45%;
    left: 1em;
    width: 34.1875rem;
    height: 20.12425rem;
    color: #323335;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1em;
}
.bx-fl{
    display: flex;
    gap:0.3rem;
    margin-inline: auto;
}
.w-box{
    width: 10.3125rem;
    height: 10.02888rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFF;
    padding: 1em;
}
.w-box p{
    color: rgba(50, 51, 53, 0.70);
    font-size: 0.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.body-f {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
.inp-div,
.sm-div {
    width: 44.87488rem;
    height: 3.75rem;
    flex-shrink: 0;
}
.sm-bx ,
.flex-bg{
    display: flex;
    gap: 1.2rem
}

.sm-bx select{
    width: 21.83863rem;
    height: 3.75rem;
}

.sm-div{
    width: 21.83863rem;
    height: 3.75rem;
    flex-shrink: 0;
    margin-bottom:1em;
    
}

.s-u-btn{
        margin-inline: 4em;
}
}