@keyframes slidein {
  from {
    margin-top: -200%;
  }
  to{
    margin-top: 0;
  }
}

.filter-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background : rgba(0,0,0,0.4);
    backdrop-filter: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: slidein 2s 0s;
}

.f-menu-div{
    background: #fff;
    width: 100%;
    padding: 1em;
    border-radius: 1.25rem;
}

.f-m-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    border-bottom: 1px solid #cfcfce;
    padding: 1em;
    position: relative;
}
.f-m-top{
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem;
}
.f-btn{
    font-size: 2em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

.f-m-top{
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.875rem; /* 150% */
}
.f-inp-div{
    margin: 1em;
}
.f-inp-div input{
    width: 30%;
}
.f-s-menu{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1em;
}

.slide2{
    position: relative;
    right: 5em;
}
.slide1{
    position: relative;
    left: 5em
}
input[type="range"] {
  appearance: none;
  background-color: transparent;
  width: 150px;
}

.slide1::-webkit-slider-runnable-track {
  position: relative;
  height: 2px;
  background-color: #000;
  border-radius: 8px;
  
}

.slide1::-moz-range-track {
  position: relative;
  height: 2px;
  background-color: #000;
  border-radius: 8px;
  
}
.slide2::-webkit-slider-runnable-track {
  position: relative;
  height: 2px;
  background-color: #000;
  border-radius: 8px;

}

.slide2::-moz-range-track {
  position: relative;
  height: 2px;
  background-color: #000;
  border-radius: 8px;

}

input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  width: 24px;
  height: 24px;
  top: 50%;
  translate: 0 -50%;
  z-index: 20;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  width: 24px;
  height: 24px;
  z-index: 20;
}

input[type="range"]::-moz-range-progress {
  height: 8px;
  background-color: orangered;
  border-radius: 8px;
}
.val-boxes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1em;
  border-bottom: 2px solid #ebebeb;
}
.val-boxes input{
  width: 20%;
}
.cuisine-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.f-foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e7e7e7;
  margin: 1em;
}
.f-clear{
    border-radius: 0.5rem;
    border: 1px solid #9F9F9E;
    color: #030302;
    padding: 0.5em;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    margin-top: 1em;
}
.f-view{
  border-radius: 0.5rem;
  background: #fcc01c;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  border: 1px solid #FCC01C;
  background: #FCC01C;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
    .f-menu-div{
        width: 53.4375rem;
        /* height: 59.0625rem; */
    }
    input[type="range"]{
      width: 200px
    }
}