.filter-nav{
    display: flex;
    align-items: center;
    margin: 1em auto;
    width: 100%;
}

.filter-nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.625em;
    }
.filter-nav ul li {
        list-style-type: none;
        display: inline-block;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        border-radius: 2.5rem;
        border: 1px solid #CFCFCE;
        width: 7rem;
        height: 4em;
        margin-inline: auto;
        color: var(--black-800, #060605);
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        cursor: pointer;
    }
.active{
    border-radius: 2.5rem;
    border: 2px solid #F9DF98;
    background: #FCC01C;
    color: #fff;
}

.c-book-div{
    position: relative;
    width: 50%;
    height: 3.6875rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #E7E7E7;
    background: #FFF;
    margin: 1em auto;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.c-book-div input{
    border: 0;
    outline: 0;
    padding-left: 1.2em;
    width: 65%;
    font-size: 0.6rem;
}
.c-book-div button{
    position: absolute;
    width: 35%;
    right: 0.3rem;
    border-radius: 1.875rem;
    padding: 1em;
    color: #fff;
    font-size: 0.6rem;
    background: #fcc01c;
    border: 0;
}
.head-pop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 2em;
}
.head-pop h3{
    color: #060605;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
}
.most-pop{
    border-radius: 2.5rem;
    border: 1px solid #CFCFCE;
    background: #fff;
    padding: 0.3em
}
.btn-mo{
    text-align: center;
}
.l-mo{
    margin: 1em auto;
    color: #fff;
    background: #fcc01c;
    padding: 0.7em;
    border: 0;
    border-radius: 0.5rem;
}
@media screen and (min-width: 768px){
    .filter-nav,
    .filter-nav ul{
        justify-content: space-between;
    }
    .filter-nav ul li {
            
            padding: 0;
            font-size: 1rem;
            padding: 0.75em;
            margin-inline: 1em;
            align-items: center;
        }
    .c-book-div {
            position: relative;
            width: 37.75rem;

    }
        .head-pop h3 {
            color: #060605;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.375rem;
        }
    .c-book-div input {
        font-size: 0.9rem;
    }
    .c-book-div button{
        font-size: 0.9rem;
    }
}