.filter-nav{
    display: flex;
    align-items: center;
    margin: 1em auto;
    width: 100%;
}

.filter-nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.625em;
        border-right: 1px solid #cfcfce;
        padding-right: 0.8em;
    }
.filter-nav ul li {
        list-style-type: none;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 1.13rem;
        border-radius: 2.5rem;
        border: 2px solid var(--black-200, #CFCFCE);
        border: 1px solid #CFCFCE;
        width: minmax(5rem, auto);
        height: 2.75rem;
        margin-inline: auto;
        color: #060605;
        font-size: minmax(0.8rem,1rem);
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        cursor: pointer;
    }
    .filt-btn{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        color: #000;
        background: #fff;
        width: 6.3rem;
        height: 2.75rem;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem;
        border-radius: 2.5rem;
        border: 1px solid #CFCFCE;
    }
.active{
    border-radius: 2.5rem;
    border: 2px solid #F9DF98;
    background: #FCC01C;
    color:white !important
}


.c-book-div{
    position: relative;
    width: 50%;
    height: 3.6875rem;
    flex-shrink: 0;
    border-radius: 2.5rem;
    border: 1px solid #E7E7E7;
    background: #FFF;
    margin: 1em auto;
    display: flex;
    align-items: center;
    font-size: 10px;
}
.c-book-div input{
    border: 0;
    outline: 0;
    padding-left: 1.2em;
    width: 65%;
    font-size: 0.6rem;
}
.c-book-div button{
    position: absolute;
    width: 35%;
    right: 0.6rem;
    border-radius: 1.875rem;
    display: flex;
    padding: 0.625rem 1.125rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.875rem;
    border: 1px solid #FCC01C;
    background:  #FCC01C;

    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #fff;
    font-size: 0.6rem;
}
.head-pop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
}
.head-pop h3{
    color: #060605;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.375rem;
}
.most-pop{
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    border: 1px solid #CFCFCE;
    background: #fff;
    padding: 0.3em
}
.most-pop svg{
    padding-left: 3px
}
.btn-mo{
    text-align: center;
}
.l-mo{
    margin: 1em auto;
    color: #fff;
    background: #fcc01c;
    padding: 0.7em;
    border: 0;
    border-radius: 0.5rem;
}
@media screen and (min-width: 768px){
    .filter-nav,
    .filter-nav ul{
        justify-content: space-between;
    }
   
   
        .active {
            border-radius: 2.5rem;
            border: 2px solid #F9DF98;
            background: #FCC01C;
            color: white
        }
    .c-book-div {
            position: relative;
            width: 37.75rem;

    }
        .head-pop h3 {
            color: #060605;
            font-size: 2.25rem;
            font-style: normal;
            font-weight: 600;
            line-height: 2.375rem;
        }
    .c-book-div input {
        font-size: 0.9rem;
    }
    .c-book-div button{
        font-size: 0.9rem;
    }
    .most-pop{
        padding: 1em;
    }
}