.m-foot{
    background: #fcc01c;
    text-align: center;
    color: #000;
}

.section-on{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.big-join{
    color: #060605;
    font-family: Poppins;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.375rem;
}
.flog{
    width: 4.9375rem;
    height: 6.33438rem;
    flex-shrink: 0;
}
.soc{
    height: 2em;
    width: 10em;
}
.section-tw a{
    cursor: pointer
}
.foot-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-inline: auto;
}

.foot-form input{
    border: 0;
    outline: 0;
    margin: 5px 0;
    padding: 0.5em;
 
    border-radius: 40px;
}
.foot-form button{
    border-radius: 2.5rem;
    background: #000;
    color: #fff;
    margin: 1em;
    padding: 0.5em 0;
    cursor: pointer;
}
.section-th .f-col *:first-child{
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}
.cpy-wr{
    color: #323335;
    text-align: justify;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px){
.m-foot{
    display: grid;
    grid-template-areas: 
    "nav nav nav nav"
    "logo logo list list"
    "logo logo list list"
    "cpr cpr . .";
}
.cpy-wr{
    grid-area: cpr;
    margin-left: 1em;
    margin-top: 1em;
}
.flog {
    width: 5rem;
    height: 7rem;
}
.section-on{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 2em;
    margin-left: 1em;
    grid-area: nav;
}
.section-tw{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
    grid-area: logo
}
.section-th{
    display: flex;
    /* align-items: flex-start; */
    gap: 5.25rem;
    justify-content: space-between;
    margin: 1em 0;
    color: #000;
    text-align: justify;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section-th p,
.section-th a{
    margin-top: 1em;
}

.foot-form{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-left: 5rem;
}
.nam-inp{
    width: 16.3125rem;
    height: 3.75rem;
}
.mai-inp{
    width: 30.875rem;
    height: 3.75rem;

}
.foot-form input{
    padding-left: 2em;
}

.foot-form button{
    height: 3.75rem;
    width: 15em;
    padding: 1em;
    border-radius: 2.5rem;
    border: 1px solid #060605;
    background: #060605;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
}