*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.d-flex{
  display: flex
}

.f-col{
  display: flex;
  flex-direction: column;
}

.mar1{
  margin: 1em;
}

.pad1{
  padding: 1em;
}